extends ../layout-marketing

block content
	main#main-content.content.content-alt
		.container
			.row
				.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
					.card
						.card-body
							.page-header
								if login_support_title
									h1 !{login_support_title}
								else
									h1 #{translate("log_in")} 
							form.card-body(action='/login/saml?institution=tpt')
								button.btn-shib(type='submit', name='institution', value='tpt')
									img(src='/img/tpt.svg', width='50px')
								button.btn-shib(type='submit', name='institution', value='ensta')
									img(src='/img/ensta.png', width='50px')
								button.btn-shib(type='submit', name='institution', value='x')
									img(src='/img/x.svg', width='50px')
								button.btn-shib(type='submit', name='institution', value='ensae')
									img(src='/img/ensae.png', width='50px')
								button.btn-shib(type='submit', name='institution', value='tsp')
									img(src='/img/tsp.svg', width='50px')
							form(name='loginForm' data-ol-async-form action='/login' method='POST' style='scale:66%')
								h2 Local accounts
								input(name='_csrf' type='hidden' value=csrfToken)
								+formMessagesNewStyle
								+customFormMessageNewStyle('invalid-password-retry-or-reset', 'danger')
									| !{translate('email_or_password_wrong_try_again_or_reset', {}, [{ name: 'a', attrs: { href: '/user/password/reset', 'aria-describedby': 'resetPasswordDescription' } }])}
									span.visually-hidden(id='resetPasswordDescription')
										| #{translate('reset_password_link')}
								+customFormMessageNewStyle('password-compromised')
									| !{translate('password_compromised_try_again_or_use_known_device_or_reset', {}, [{name: 'a', attrs: {href: 'https://haveibeenpwned.com/passwords', rel: 'noopener noreferrer', target: '_blank'}}, {name: 'a', attrs: {href: '/user/password/reset', target: '_blank'}}])}.
								.form-group
									input.form-control(
										name='email'
										type='email'
										required
										placeholder='email@example.com'
										autofocus='true'
									)
								.form-group
									input.form-control(
										name='password'
										type='password'
										required
										placeholder='********'
									)
								.actions
									button.btn-primary.btn(type='submit' data-ol-disabled-inflight)
										span(data-ol-inflight='idle') #{translate("login")}
										span(hidden data-ol-inflight='pending') #{translate("logging_in")}…
									a.float-end(href='/user/password/reset') #{translate("forgot_your_password")}?
								if login_support_text
									hr
									p.text-center !{login_support_text}
